.YoutubeEmbed {
    display: flex;
    justify-content: center;

    iframe {
        width: 560px;
        height: 315px;
        display: block;
        border-radius: 6px;
        box-shadow: 1px 1px 5px rgba(black, 0.5);
        z-index: 1;
    }
}
