@import '../../scss/variables';
@import '../../scss/mixins';

label,
input,
select {
    display: block;
    width: 100%;
}

label {
    letter-spacing: 1px;
    font-weight: $bold;
    cursor: pointer;
    text-align: left;
}

.Form {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: $spacing-small;
}

.FormSection {
    margin-bottom: $spacing-med;
    width: 100%;
}

.FormGroup {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100%;

    @include tablet {
        flex-direction: row;
    }

    .FormControl {
        margin-bottom: $spacing-med;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .cta-container {
        display: block;
        width: 70%;
        margin: auto;
    }

    .cta {
        display: block;
        width: 100%;
    }
}

.FormControl {
    margin-right: 1em;

    &:last-child {
        margin-right: 0;
    }
}

input[type='text'],
input[type='email'],
input[type='tel'],
select {
    border: none;
    outline: none;
    appearance: none;
    padding: 1.25em 1em;
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: $light;
    color: $background;
    letter-spacing: 1px;
    background-color: $color-main;

    &:focus {
        box-shadow: 0 0 1px 3px $accent-main inset;
    }
}

select {
    cursor: pointer;
    background-image: url('../../../public/assets/img/select.svg');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    background-size: 1.5em;
}
