@import '../scss/_variables.scss';
@import '../scss/_mixins.scss';

/*
===============
resets
===============
*/

html,
body {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

img {
    display: block;
    min-width: 0;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

/*
============
typography
============
*/
html {
    font-size: 16px;

    @include tablet() {
        font-size: 18px;
    }
}

body,
#app {
    background: $background;
    color: $color-main;
    font-family: $family-main;
    font-weight: $light;

    text-align: center;

    @include tablet() {
        text-align: left;
    }
}

h1,
h2 {
    margin-top: 0;
    margin-bottom: $spacing-small;
}

p {
    line-height: 1.6;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: $spacing-small;
    max-width: 40em;
}

/*
==============
layout styles
==============
*/

/* general/utility */
.container {
    max-width: 1200px;
    margin: 0 $vw-med;

    @include tablet() {
        margin: 0 auto;
        width: 80%;
    }
}

.mb-med {
    margin-bottom: $spacing-med;
}

.mb-big {
    margin-bottom: $spacing-big;
}

.pt-med {
    padding-top: $spacing-med;
}

.pt-big {
    padding-top: $spacing-big;
}

.pv-small {
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
}

.pv-med {
    padding-top: $spacing-med;
    padding-bottom: $spacing-med;
}

.pv-big {
    padding-top: $spacing-big;
    padding-bottom: $spacing-big;
}

main {
    min-height: 100vh;
}
