.hero {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

    overflow: hidden; // cut off blur

    &:after {
        position: absolute;
        content: '';
        background: url('../../../public/assets/img/band-photo.png');
        background-size: cover;
        background-position: center;
        filter: blur(1px) saturate(50%);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        z-index: -1;
    }
}
