/*
==========
variables
==========
*/

/* colors */
$background: #1a1f22;
$accent-main: #6ED1FD;
$accent-hover: #57a1c0;
$color-main: #e7f8ff;
$color-deact: #657175;

/* typography */
$family-main: 'Mulish', sans-serif;
$light: 300;
$bold: 900;

/* layout */
$spacing-big: 10em;
$spacing-med: 5em;
$spacing-small: 2em;
$vw-small: 5vw;
$vw-med: 8vw;

/* media */
$tablet-width: 900px;
$desktop-width: 1200px;